$primaryFont: "Roboto";

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0;
  padding-top: 94px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  list-style: none;
}
.buttons__item {
  height: 38px;
  background: getColor("secondBackground");
  border-radius: 4px;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  border: none;
  color: getColor("primary");
  padding: 6px 22px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: getColor("accent");
    color: getColor("contrast");
  }
}
