$primaryFont: "Roboto";

.clients-headline {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: getColor("primary");
  margin-top: 94px;
  margin-bottom: 50px;
}
.clients-headline__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 94px;
  padding: 0;
}
.clients-headline__list-item {
  width: 170px;
  height: 92px;
  border: 1px solid getColor("iconColor");
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: getColor("iconColor");
  &:hover,
  &:focus {
    border-color: getColor("accent");
    fill: getColor("accent");
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
