.footer-background {
  background-color: #2f303a;
  position: relative;
}

.container--lists {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.logo-section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.logo__footer-text {
  color: getColor("contrast");
}
@import "brand-info-sec";
@import "join-us-sec";
@import "newsletter";
